<div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%l:%M %p") %></i>
        </small>
              <div class="d-flex justify-content-start">
              <p><%= message.content %></p>
            </div>
  </div>
