  <% if !@chatrooms.empty? %>
    <h1>Your blind loved ones</h1>
    <h1><%= current_user.nickname %>'s Messages</h1>
    <ul>
      <% @chatrooms.first(8).each do |chatroom| %>
        <li>
          <% if chatroom.user_a == current_user  %>
            <%= link_to "#{chatroom.user_b.nickname}", chatroom_path(chatroom) %>
          <% else %>
            <%= link_to "#{chatroom.user_a.nickname}", chatroom_path(chatroom) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1> You do not have any chats yet</h1>
    <%= link_to "start browsing", users_path %>
  <% end %>
