<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our users</h1>
    </div>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="user-card">
          <div class="user-card-content">
            <div class="user-card-title">
            <img src="https://images.unsplash.com/photo-1499244571948-7ccddb3583f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="">
              <h4><%= user.nickname %></h4>
            </div>
            <p><%= user.preferred_date_ideas %></p>
            <div class="flex">
              <div class="flex">
              </div>
              <div class="flex ms-3">
              </div>
            </div>
          </div>
          <div class="user-card-actions">
          </div>
            <div class="user-card-actions">
            <%= link_to "Poke", user_path(user) %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
