<div class="index-container">
  <% @users.each do |user| %>
    <%= link_to user do %>
      <div class="card-product">
        <div class="container-card-image">
          <%= cl_image_tag user.photo.key, crop: :fill%>
          <div class="card-product-infos">
            <h2><%= user.nickname.capitalize %></h2>
            <p><%= user.about_me %></p>
          </div>
        </div>
        <a class="btn btn-flat btn-sign-up", id="poke", href="#">Poke</a>
      </div>
    <% end %>
  <% end %>
</div>