<body>
    <nav class="mobile-nav">

        <a href="#" class="bloc-icon">
            <img src="https://www.svgrepo.com/show/18282/search.svg" alt="">
        </a>
        <a href="#" class="bloc-icon">
            <img src="https://www.svgrepo.com/show/139863/message.svg" alt="">
        </a>

        <a href="#" class="bloc-icon">
            <img src="https://www.svgrepo.com/show/303848/profile.svg" alt="">
        </a>
    </nav>
</body>
