<body>
    <nav class="mobile-nav">

        <a href="http://localhost:3000/users" class="bloc-icon">
          <img src="https://www.svgrepo.com/show/18282/search.svg" alt="">
        </a>
        <a href="#" class="bloc-icon">
          <img src="https://www.svgrepo.com/show/139863/message.svg" alt="">
        </a>

        <%= link_to user_path(current_user), class: "bloc-icon" do %>
          <img src="https://www.svgrepo.com/show/303848/profile.svg" alt="">
        <% end %>
        </a>
    </nav>
</body>
