<div class="banner"  style="background-image: linear-gradient(rgba(254, 31, 78, 0.1),rgba(0,0,0,0.9)), url('https://live.staticflickr.com/5577/14584650519_eea251e497_b.jpg');">
<div class="home">   
    <div class="container"> 
      <%= image_tag "couple.png", :class => "large-logo" %>
      <h1>Blind8</h1>
      <p><strong>Blind8 is an experience. A chance to throw judgements out the door and rediscover that love is blind.<br><br>Close your eyes, make a move, and leave your selfies at the door. </strong> <br><br><strong>You only have <span style="color: #FE1F4E">8</span> chances</strong></p>
    </div>
  <div class="home-btn">
    <%= link_to  "Make love blind again",  new_user_session_path, class: "btn btn-home", id: "home-btn"%>
  </div>
  </div>
</div>