<%# <div class="home">
  <div class="container">
  <%= image_tag "couple.png", :class => "large-logo" %>
  <h1>Blind8</h1>
  <p>Lets make love blind again!</p>

  <%= link_to  "Date Blindly Now!",  new_user_registration_path %>
