<div class="home">
  <div class="container">
     <%= image_tag "couple.png", :class => "large-logo" %>
      <h1>Blind8</h1>
      <h1>Lets make love blind again!</h1>
      <p>You have arrived! If your aims is an experience where social pressure, self advertising and the need to look a certain way are non exixtent, if you seek a kind experience and memeorable encounters you have arrived!
     <strong>Blind8</strong> is the platform that allows the old but gold ways to shine again, you get initial intrerest, you poke, you talk, then meet and let the physical appearance the last step of the way, just like a true old times blind date.
      The aim is to actually give chance to get to know people for what they are and not to boost one's ego, thus one is allowed to interact with a max number of 8 users at the same time and in order to move on one meets and takes it outside the platform into the real world or end the thread and move on to the next possible date.
      As this is a bind dating app, kindly be aware no photos of you are allowed. That includes images in your likeness or resemblance. Be creative. Choose something that represents you. Show who you are behind the physical dimension. Any photos that go against this rule will be deleted by our moderators. Love blindly and embrace the others! </p>
      <%= link_to  "Open your heart and close your eyes!",  new_user_registration_path %>
  </div>
</div>
