#pink {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: $logo-pink;
    transition: background 0.3s ease;
  }

#black {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: black;
    transition: background 0.3s ease;
    border-color: white;
  }

#poke {
  color: white;
  border-radius: 28px;
  padding: 8px 24px;
  margin-right: 15px;
  width: 100px;
  background: $logo-pink;
  transition: background 0.3s ease;
  position: absolute;
  right:    0;
  bottom:   0;

}


#poke-show {
  color: white;
  border-radius: 28px;
  padding: 8px 24px;
  margin-right: 15px;
  width: 100px;
  background: $logo-pink;
  transition: background 0.3s ease;
  margin-left: 125px;
}

#sign-out {
  color: white;
  border-radius: 28px;
  padding: 8px 24px;
  margin-right: 15px;
  width: 115px;
  background: $logo-pink;
  transition: background 0.3s ease;
  margin-left: 125px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn.btn-sign-up {
  width: 70%;
  margin-bottom: 16px;
  border-radius: 20px;
}

.btn-index {
  padding: 6px 12px !important;
  width: max-content !important;
  right: 12px !important;
}

#home-btn {
  margin: 50px auto;
  display:block;
  height: 44px;
  width: 55%;
  margin-bottom: 16px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  background-color: $logo-pink;
}

.submitbutton{
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #FE1F4E;
  font-size: 27px;
  border: none;
}
