.card-product {
  overflow: hidden;
  border-radius: 40px;
  position: relative;
  height: 200px;
  padding: 16px 16px 16px 16px;
  background: white;
  box-shadow: 0 0 10px $logo-pink;
  display: flex;
  margin-bottom: 40px;
}


.card-product img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(1px 1px 1px black);
  flex-shrink: 0;
}


.card-product .card-product-infos {
  padding-top: 0px;
  padding-left: 20px;

  p {
    color: black;
    font-size: 15px;
    line-height: 1.4;
    opacity: 0.7;
    margin-top: 8px;
    text-align: left;
  }

  h2 {
    color: black;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    text-align: left;
  }
}

a {
  text-decoration: none;
}

.card-containter {
  align-items: center;
}


.card-title {
  padding-top: 40px;
  padding-bottom: 63px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

.card-product-infos-index {
  padding-bottom: 34px;
  p {
    margin: 9px 0px !important;
  }
  h2 {
    margin: 5px 0px !important;
    color: black !important;
    font-family: $test-font;
  }

  #zodiac {
    margin: 9px 0px !important;
  }
}

.index-container-padding {
  padding-top: 30px;
  padding-bottom: 75px;
}

.pt-0{
  padding:4rem 1rem;
}
