.container {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

.container-registration {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.container-card-image {
  display: flex;
  padding-top: 0px;
}

.index-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
