.container {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 84px;
}

.container-registration {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.container-card-image {
  display: flex;
  padding-top: 0px;
}

.index-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.index-container .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-bottom: 51px;
}

#home-page-container {
  margin-top: 0 !important;
}