.container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.container-registration {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.container-card-image {
  display: flex;
  padding-top: 0px;
  
}

.index-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-right: 20px;
  margin-left: 20px;
}
