.form-control {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid $logo-pink;
}

.form-check-label {
    color: white;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inputs {
  color: white;
}

.form-group {
  margin: 5px auto;
  width: 90%;
}

#remember_me {
  margin-left: 20px;
}
