.large-logo {
    width: 150px;
    margin: 108px auto auto auto;
    border-radius: 50%;
    object-fit: cover;
    background-color: gray;
}

.medium-logo {
    width: 90px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    background-color: gray;
}

.small-logo {
    width: 150px;
    // margin: auto;
    // border-radius: 50%;
    // object-fit: cover;
    // background-color: gray;
}
